
<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t('.title') %>
    </h2>
  </div>
  <div class="card-section">
    <% if @status.records.any? %>
      <p><%= t('.records', count: @status.records.size, due_date: l(@status.last_import_at, format: :long)) %></p>
      <p><%= t('.authorized', count: @status.authorizations_count) %></p>
      <%= link_to t('.destroy'),
        custom_csv_census_path,
        method: :delete,
        class: 'button alert',
        data: { confirm: t('.confirm') } %>
      <% else %>
        <p><%= t('.empty') %></p>
    <% end %>
  </div>
</div>

<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t('.new') %>
    </h2>
  </div>
  <div class="card-section">
    <p><%= t('.info') %></p>
    <ul>
      <% Decidim::Verifications::CustomCsvCensus.configuration.fields.keys.each do |key| %>
        <li><%= key %></li>
      <% end %>
    </ul>
    <%= form_tag custom_csv_census_path, multipart: true, class: 'form' do %>
      <%= label_tag :name, t('.file') %>
      <%= file_field_tag :file %>
      <%= submit_tag t('.submit'), class: 'button' %>
    <% end %>
  </div>
</div>
